{% extends "plantillaBase.php.twig" %}

    {% block head %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    {% endblock %}

    {% block contenido %}

    <div class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#">Moligol</a>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="index.php?con=usuario&ope=listar">Usuarios</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="index.php?con=admin&ope=listarBotas">Botas</a>
                </li>
                <li class="nav-item">
                        <a class="nav-link" href="index.php?con=sesion&ope=cerrarSesion">Cerrar sesion</a>
                </li>
            </ul> 

        </div>	<!-- end-collapse -->

	</div>
    <h1>Usuarios</h1>
        <table class="table" style="margin-top:50px;">
            <thead class="thead"> 
                <th>Id</th>
                <th class="text-right">Nombre</th>
                <th class="text-right">Apellidos</th>
                <th class="text-right">email</th>
                <th class="text-right">Pass</th>
                <th class="text-right">Admin</th>
                <th></th>
                <th></th>
            </thead>
            
            <tbody>
                {% for item in dat  %}
                <tr>
                    <td>{{item.idUsu}}</td>
                    <td class="text-right">{{item.Nombre}}</td>
                    <td class="text-right">{{item.Apellidos}}</td>
                    <td class="text-right">{{item.Email}}</td>
                    <td class="text-right">{{item.Pass}}</td>
                    <td class="text-right">{{item.Admin}}</td>
                    <td> <a href="index.php?con=usuario&ope=editar&idUsu={{item.idUsu}}">Editar</a> </td>
                    <td> <a href="index.php?con=usuario&ope=borrar&idUsu={{item.idUsu}}">Borrar</a> </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

    {% endblock %}